@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

img {
  border-radius: 8px;
}

.category-hsp-news-feed #navigation-bar .navigation-toggle {
  display: none;
}

.category-hsp-news-feed, .category-hsp-library, .category-products {
  th.posts, th.activity, td.posts, td.activity {
    display: none;
  }
}

.list-controls .combo-box .combo-box-header, .nav-pills>li>a, .list-controls .btn {
  border-radius: 8px;
}

.d-header button.sign-up-button {
  display: none;
}

.logo-outlet {
  .logo-container {
    display: none;
    padding-top: 60px;
    
    &.visible {
      display: block;
    }
  }
}

body.has-logo {
  #main-outlet {
    padding-top: 0;
  }
}

#list-area.tiles-style {
  .topic-header-grid {
    grid-area: photo !important;

    .topic-users {
      display: none;
    }

    .topic-statuses {
      float: left;
    }
  }

  .topic-thumbnail {
    grid-area: theader !important;

    .thumbnail {
      margin-bottom: 10px;
    }
  }

  .topic-details .topic-excerpt {
    word-break: initial;
  }
}

.category-search-container {
  float: left;
  position: relative;
}

.category-search-container .search-header {
  width: 350px;
  margin-left: 10px;
  position: relative;
  white-space: nowrap;
  position: absolute;
  z-index: 1;

  &.show-header-results {
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5);
    background-color: $secondary;
  }

  #search-term {
    background-color: $secondary;
    margin: 0;
    width: 100%;
  }

  .searching .spinner {
    display: none;
  }

  .search-icon {
    display: none;
  }

  .search-input {
    overflow: hidden;
    padding: 0;
  }

  .search-context {
    display: none;
  }

  .results {
    border-top: none;
    width: 100%;
    white-space: normal;

    ul {
      list-style-type: none;
      margin: 0 5px 5px 5px;
    }

    .heading {
      padding: 5px 0 5px 5px;

      .filter {
        padding: 0 5px;
      }
    }

    .no-results {
      padding: 5px;
      text-align: center;
    }

    .search-link {
      .badge-category-parent {
        line-height: 0.8em;
      }
      .topic-title {
        margin-right: 6px;
      }

      .topic-statuses {
        float: none;
        display: inline-block;
        color: dark-light-choose(scale-color($primary, $lightness: 50%), scale-color($secondary, $lightness: 50%));
        margin: 0;
        .fa {
          margin: 0;
        }
      }
    }

    li:not(.category):not(.heading) {
      font-size: 0.929em;
      line-height: 16px;

      .fa {
        font-size: inherit;
      }

      a {
        display: block;
        padding: 5px;
        transition: all linear .15s;
      }

      &:hover a:not(.badge-notification) {
        background-color: dark-light-diff($highlight, $secondary, 50%, -55%);
      }

      button {
        margin-left: 5px;
      }
    }
  }
}

// Landing Page

.homepage-categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  .homepage-category {
    width: 33%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    
    .image {
      margin-bottom: 20px;
      
      .category-logo.aspect-image {
        height: 200px;
        width: 300px;
        max-width: initial;
        max-height: initial;
        margin: 0;
      }
    }
    
    .name {
      font-size: 1.6em;
      margin-bottom: 10px;
    }
    
    .description {
      max-width: 300px;
    }
  }
}

html.anon {
  body.landing {
    #main-outlet {
      padding-top: 0em;
    } 
  }

}       


.subtext {
  text-align: left;
  font-size: 17px;
} 

.subtext p {
    font-family: 'Roboto Condensed', sans-serif;
}

.subtitle {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  font-size: 17px;
  font-family: 'Roboto Condensed', sans-serif;

  .subtext {
    width: 770px;
    display: inline-block;
    margin-top: 10px;
  }
  
  .subtext p > a{
    font-family: 'Roboto Condensed', sans-serif !important;
}

  
 .subtextcenter {
   text-align: center;
   font-size: 17px;
  }
  
  .subtextcenter p {
    font-family: 'Roboto Condensed', sans-serif;
  }
}

.signin {
  position: absolute;
  right: 0;
}

.between-categories {
  text-align: center;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 30px;

  .subtext {
    width: 770px;
    display: inline-block;
  }

}

.signup {
  text-align: center;
  width: 100%;
  margin-top: -20px;

  .subtext {
    width: 770px;
    display: inline-block;
  }
}

#list-area.tiles-style .topic-details  .topic-excerpt {
      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
}

body.categories-list .cta-block {
  display: none;
}

.category-search-container .search-header #search-term {
    border-radius:8px;
}

.d-header button.login-button {
    border-radius:8px;
}

.search-menu input[type="text"] {
  border-radius:8px;
}

.footer {
  margin-top: 80px
}
