.subtitle .subtext {
  width: 1032px;
}

.between-categories .subtext {
  width: 1032px;
}

.after-categories .subtext {
  width: 1032px;
}

.after-categories {
  margin-left: 40px;
}

.pledge {
  margin-left: 30px;
}
